{% if deals %}
<div class="side-box deals-details">
    <div class="box-t">&nbsp;</div>
    <div class="box-c">
        <h3 class="box-heading">{% block deals-title %}More <span class="active-brand">Active <span>Deals</span></span>{% endblock %}</h3>
        <ul>
        {% for deal in deals %}
            <li{% if forloop.last %} class="last"{% endif %}>
                <h4><a href="{{ deal.get_absolute_url }}">{{ deal }}</a></h4>
                <p class="deal-details">
                    <span>
                        PRICE<br />
                        <em>${{ deal.price|floatformat:"-2" }}</em>
                    </span>
                    <span>
                        VALUE<br />
                        <strong>${{ deal.original_price|floatformat:"-2" }}</strong>
                    </span>
                    <span>
                        DISC<br />
                        <strong>{{ deal.discount }}%</strong>
                    </span>
                    <span class="last">
                        SAVE<br />
                        <strong>${{ deal.saving|floatformat:"-2" }}</strong>
                    </span>
                </p>
                <div class="cl">&nbsp;</div>
                <p class="view-deal"><a href="{{ deal.get_absolute_url }}">View THIS DEAL</a></p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="box-b">&nbsp;</div>
</div>
{% endif %}
