{% if deals %}
<div class="footer-box">
	<h2>Past <span class="active-brand">Active <span>Deals</span></span></h2>
	<div class="footer-cols">
	    {% for deal in deals %}
	    <div class="col {% if forloop.last %}last-col{% endif %}">
	        <h3><a href="{{ deal.get_absolute_url }}">{{ deal }}</a></h3>
	        <p>${{ deal.price|floatformat:"-2" }} Value <span>|</span> {{ deal.discount }}% Discount <span>|</span> ${{ deal.saving|floatformat:"-2" }} Saved</p>
	        <a href="{{ deal.get_absolute_url }}" class="more-link">View</a>
	    </div>
	    {% endfor %}
	    <div class="cl">&nbsp;</div>
	</div>
</div>
{% endif %}
