{% extends "base.html" %}

{% load markup %}
{% load thumbnail %}
{% load deals_tags %}
{% load companies_tags %}

{% block extra_meta %}
{# Facebook Open Graph related tags: https://developers.facebook.com/docs/opengraph/ #}
<meta property="og:title" content="{{ object }}"/> 
<meta property="og:url" 
      content="http://{{request.get_host}}{{ object.get_absolute_url }}"/>
<meta property="og:image" 
      content="{{ object.deal_photos.all.0.image.url }}"/> 
<meta property="og:description" content="{{ object.details }}"/>
<!--meta property="og:type" content="product"/-->
{% endblock %}

{% block extra_head %}
{% if object.background %}
    <style>body {background: url({{ object.background.image.url }});}</style>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    if((/#open-cart/).test(document.location.href)){
        $('.foxycart.cart-button').click();
    }
});

$(window).load(function(){
    $('img.slider-image').each(function(index){
        var top_margin = (280 - $(this).height())/2;
        $(this).css( 'margin-top', top_margin);
    });
});
</script>
{% endblock %}

{% block navigation %}{% include 'navigation.html' with place="deals" %}{% endblock %}

{% block sidebar %}
    <div class="side-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c" id="deal-buy-now">
            <ul>
                <li>
                    {% if object.is_closed %}
                        <a href="#" class="buy-now-btn closed">&nbsp;</a>
                    {% else %}{% if object.is_sold_out %}
                        <a href="#" class="buy-now-btn sold_out">&nbsp;</a>
                    {% else %}{% if user.is_authenticated and object|is_limit_reached:user %}
                        <a href="#" class="buy-now-btn limit_reached">&nbsp;</a>
                    {% else %}
                        {% if user.is_authenticated %}
                        <a href="{{ object.get_buy_url }}" class="buy-now-btn">BUY NOW</a>
                        {% if object.allow_gifts %}
                            <a href="{{ object.get_buy_url }}?gift" class="add-gift">Buy as a Gift</a>
                        {% endif %}
                        {% else %}
                        <a href="{% url account-login %}?_popup=1&next={{ object.get_buy_url }}" class="pop-loader buy-now-btn">BUY NOW</a>
                        {% if object.allow_gifts %}
                            <a href="{% url account-login %}?_popup=1&next={{ object.get_buy_url }}?gift" class="pop-loader add-gift">Buy as a Gift</a>
                        {% endif %}
                        {% endif %}
                    {% endif %}{% endif %}{% endif %}
                </li>
                <li>
                    <h5 class="price">${{ object.price|floatformat:"-2" }}</h5>
                </li>
                <li class="stats">
                    <span>VALUE<br /><strong>${{ object.original_price|floatformat:"-2" }}</strong></span>
                    <span class="stat2">DISCOUNT<br /><strong>{{ object.discount }}%</strong></span>
                    <span class="stat3">SAVINGS<br /><strong>${{ object.saving|floatformat:"-2" }}</strong></span>
                    <div class="cl">&nbsp;</div>
                </li>
                <li>
                    <h3 class="deal-share">Share This <span class="active-brand">Active <span>Deal</span></span></h3>
                    <div class="share-blocks">
                        <span  class='st_twitter_vcount' displayText='Tweet'></span><span  class='st_email_vcount' displayText='Email'></span><span  class='st_facebook_vcount' displayText='Facebook'></span>
                    </div>
                </li>
                <li class="last main-info">
                    {#}<p><strong>Sold</strong> {{ object.sold }}</p>{#}
                    <p class="right"><strong>Ends</strong> {{ object.end_time|timeuntil }}</p>
                    <div class="cl">&nbsp;</div>
                </li>
            </ul>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
    {% more_deals object %}
{% endblock %}

{% block content %}
    <div class="big-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <h2>{{ object.title }}</h2>
            <div class="min-slider">
                <ul>
                {% for slide in object.deal_photos.all %}
                    <li>
                        {% thumbnail slide.image "340" crop="center" as im %}
        	                <img src="{{ im.url }}" alt="{{ object.title }}" class="slider-image" />
        	            {% endthumbnail %}
                    </li>
                {% endfor %}
                </ul>
                <div class="slider-nav">
                    <a href="#" class="slider-prev">prev</a>
                    <a href="#" class="slider-next">next</a>
                </div>
            </div>

            <div class="details">
                <h3>Highlights and Details</h3>
                {{ object.details|markdown }}
            </div>

            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>

    <div class="left-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <h3>About {{ object.company }}</h3>
            {{ object.company.description|markdown }}
            <p class="url-holder"><a href="{{ object.company.website }}" target="_blank" rel="nofollow">Website</a></p>
            {% if object.locations.all %}
            <div class="info-cols">
                {% for c_address in object.locations.all %}
                <p{% if forloop.counter|divisibleby:"2" %} class="right"{% endif %}>
                    <strong>{{ c_address.place }}</strong><br />
                    {{ c_address.address }}<br/>
                    {{ c_address.city }}{% if c_address.postal_code %} {{ c_address.postal_code }}{% endif %}<br />
                    {% if c_address.phone %}{{ c_address.phone }}<br />{% endif %}
                    {% if not object.slug = "orgain" %}<a target="_blank" href="{{ c_address.map_it }}">Map It</a>{% endif %}
                </p>
                {% endfor %}
                <div class="cl">&nbsp;</div>
            </div>
            {% endif %}
        </div>
        <div class="box-b">&nbsp;</div>
    </div>

    <div class="right-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <h3>The Fine Print</h3>
            <p>{{ object.fine_print }}</p>
            <a href="{% url universal-fine-print %}" class="pop-loader">See the Universal Fine Print</a>
        </div>
        <div class="box-b">&nbsp;</div>
        {% featured_nonprofit object %}
    </div>
{% endblock %}
