@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/century_gothic_regular_wwww.font-cat.com-webfont.eot');
    src: url('fonts/century_gothic_regular_wwww.font-cat.com-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/century_gothic_regular_wwww.font-cat.com-webfont.woff') format('woff'),
         url('fonts/century_gothic_regular_wwww.font-cat.com-webfont.ttf') format('truetype'),
         url('fonts/century_gothic_regular_wwww.font-cat.com-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/centgtb-webfont.eot');
    src: url('fonts/centgtb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/centgtb-webfont.woff') format('woff'),
         url('fonts/centgtb-webfont.ttf') format('truetype'),
         url('fonts/centgtb-webfont.svg#CenturyGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

span.rating{
    background: transparent url(images/5-stars-green.png) -90px 0;
    display: inline-block;
    height: 0; /*17px hidden*/
    overflow: hidden;
    padding: 17px 0 0;
    margin-right: 0.25em;
    width: 91px;
    vertical-align: -18%;
}
span.rating1{
    background-position: -72px 0; /* 18x(5-4) */
}
span.rating2{
    background-position: -54px 0; /* 18x(5-3) */
}
span.rating3{
    background-position: -36px 0; /* 18x(5-2) */
}
span.rating4{
    background-position: -18px 0; /* 18x(5-1) */
}
span.rating5{
    background-position: 0 0; /* 18x(5-5) */
}

a.button, input.button{
  background: #bcdf21; /* top:bcdf21, bottom: 84c412*/
  color: #fff;
  cursor: pointer;
  border: solid 1px #919393;
  display: inline-block;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  height: 17px;
  padding: 0 0.5em;
  line-height: 17px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px #666;
  text-transform: uppercase;
  vertical-align: 10%;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdf21', endColorstr='#84c412'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bcdf21), to(#84c412)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #bcdf21,  #84c412); /* for firefox 3.6+ */ 
}
a#back-to-results{
  float: none;
  font-size: 110%;
  margin: 0 auto;
  display: block;
  width: 10em;
}

div.pagination{
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
div.pagination a,
div.pagination span{
    color: #ff7100;
    margin: 0 0.2em;
}
div.pagination a{
    text-decoration: underline;
}
div.pagination span{
}
div.pagination a.prev,
div.pagination a.next{
    background: transparent url(images/left-right-sprite-green.png) no-repeat 0 0;
    height: 0; /*hidden 11*/
    width: 0; /*hidden 10*/
    text-decoration: none;
    overflow: hidden;
    padding: 10px 0 0 11px;
    display: inline-block;
}
div.pagination a.prev{
    
}
div.pagination a.next{
    background-position: 100% 0;
}





/*----- category selector -----*/
div#category-selector{
    padding-top: 7px;
}
div#category-selector h3{

}
div#category-selector table{
    width: 100%;
    
}
div#category-selector table tr td{
   text-align: center;
   padding-right: 6px;
}
div#category-selector table tr td:last-child{
   padding-right: 0;
}
div#category-selector table tr td a,
div#category-selector table tr td span.active{
  border: solid 1px #909496;
  color: #404040;
  display: block;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.85em 4px;
  text-transform: uppercase;

  box-shadow: 1px 1px 1px #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;


}
div#category-selector table tr td a{
  background: #add63c; /* top: add63c, bottom: a3cc32 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#add63c', endColorstr='#a3cc32'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#add63c), to(#a3cc32)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #add63c,  #a3cc32); /* for firefox 3.6+ */ 
}
div#category-selector table tr td span.active{
  background: #828282; /*top: 828282, bottom: b6b6b6*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828282', endColorstr='#b6b6b6'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#828282), to(#b6b6b6)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #828282,  #b6b6b6); /* for firefox 3.6+ */ 
}

/*----- category list page -----*/

div#featured-listing {
    overflow: auto;
  }
  div#featured-listing div.featured-logo{
      border: solid 1px #c5c8c9;
      float: left;
      padding: 6px;
      margin: 0 16px 0 0;
      height: 209px;
      width: 253px;
      box-shadow: 1px 0 2px #ccc;
  }
  div#featured-listing div.featured-info{
      float: left;
      margin-top: -0.5em;
      width: 364px;
  }
  div#featured-listing div.featured-info .featured-name{
      font-size: 32px;
      line-height: 1.1em;
      margin: 0 0 -0.15em;
  }
  div#featured-listing div.featured-info p{
    line-height: 1.5em;
    margin: 0;
  }
  div#featured-listing a.more{
    background: #add63c; /* top: add63c, bottom: a3cc32 */
    border: solid 1px #909496;
    color: #fff;
    display: inline-block;
    font-family: "CenturyGothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin:0;
    text-transform: uppercase;
    padding: 0.5em 0.8em;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 0 2px #ccc;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#add63c', endColorstr='#a3cc32'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#add63c), to(#a3cc32)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #add63c,  #a3cc32); /* for firefox 3.6+ */ 
  }

div#top-rated{
    height: 240px;
    overflow: hidden;
}
div#latest-review{
    height: 240px;
}
div.location-previews{
    margin-left: -12px;
    margin-right: -10px;
}
div.location-previews div.location{
    float: left;
    margin-left: 14px;
    width: 197px;
}
div.location-previews div.location .location-logo{
    border: solid 1px #c5c8c9;
      padding: 6px;
      margin: 0 16px 0 0;
      height: 76px;
      width: 180px;
      box-shadow: 1px 0 2px #ccc;
}

div.location-previews div.location .location-place{
    
    margin: 0.75em 0 0.5em;
}
div.location-previews div.location .location-place a{
    font-weight: bold;
}
div.location-previews div.location .location-place div.reviews-total{
    color: #ff7100;
  font-style: italic; 
  display: inline-block;
}
div.location-previews div.location .location-body{
    max-height: 4.5em;
    overflow: hidden;
}
div.location-previews div.location .location-body a.more{
    color: #6a8c0f;
    font-family: 'CenturyGothic', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}
div.location-previews div.location .location-user{
    color: #6a8c0f;
}

/*----- location list page -----*/
div.location-list-tools{
   background: transparent url(images/dotted-border.png) repeat-x 0 100%;
    overflow: auto;
    margin: 0 0 1em;
    line-height: 18px;
    padding-bottom: 1em;
}
div.location-list-tools > div{
  margin-top: 0.5em;
  padding-top: 0;
}
div.list-count{
    float: left;
    font-size: 14px;
    font-style: italic;
}
div.list-count span{
    color: #ff7100;
    font-size: 16px;
    font-weight: bold;
}
div.list-sortby{
    font-size: 12px;
    float: left;
    line-height: 14px;
    margin-left: 2em;
}
div.list-sortby label{
  color: #ff7100;
  font-weight: bold;
}
div.update-location{
    float: right;
    padding-top: 0.5em;
    margin-top: -0.5em;
    text-align: right;
}
div.update-location label{
  color: #ff7100;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin-right: 0.5em;
}
div.update-location input[type=text]{
  color: #b8b8b8;
  border: solid 1px #c9cdcd;
  font-size: 11px;
  font-style: italic;
  float: left;
  padding: 0.45em;
  margin-right: 0.5em;
  width: 85px;
  border-radius: 3px;
  text-transform: lowercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  margin-top: -0.2em;
}
div.update-location input[type=submit]{
  float: left;
  background: transparent url(images/go.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  height: 0; /*22px hidden*/
  overflow: hidden;
  padding: 22px 0 0 22px;
  width: 0; /*22px hidden*/
}

table.location-list{
    color: #383838;
    font-size: 12px;
    font-style: italic;
    margin: 0.75em 0;
    width: 100%;
}
table.location-list tr{
    background: transparent url(images/dotted-border.png) repeat-x 0 100%;
}
table.location-list tr td{
    padding: 0.9em 1em 0.9em 0;
}
table.location-list td.list-name{
    font-size: 18px;
    font-weight: bold;
}
table.location-list td.list-subcategories{
    
}
table.location-list td.list-rating{
    width:  30%;
    
}
table.location-list td.list-rating span.rating{
    background-image: url(images/5-stars-orange.png);
}
table.location-list td.list-rating span.total-reviews{
  display: inline-block;
}
table.location-list td.list-distance{
    text-align: right;
    padding-right: 0;
    width: 10%;
}






/*----- filter -----*/
div#filter-subcategory{
  padding-top: 7px;
  padding-bottom: 7px;
}
div#filter-subcategory h3{
}
div#filter-subcategory form{
}
div#filter-subcategory form ul{
    margin: 0.25em 0 0.5em;
    text-align: left;
}
div#filter-subcategory form ul li{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
div#filter-subcategory form label{
    color: #ff7100;
    font-size: 11px;
    font-style: italic;
    display: block;
}
div#filter-subcategory form label.choice{
    color: #444;
    font-style: normal;
}
div#filter-subcategory form input[type=submit]{
    border: solid 1px #ccc;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A6600;
    cursor: pointer;

    height: 27px;
    padding: 0 10px;
    display: inline;
    background: url(images/nav.png) no-repeat 50% 50%;
    line-height: 26px;
    font-family: "CenturyGothic", arial, sans-serif;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
    margin-left: 2em;
}












/*----- location detail, featured location on list view -----*/
.location-detail{
    overflow: auto;
    background: transparent url(images/dotted-border.png) repeat-x 0 100%;
    padding-bottom: 1em;
}
.location-detail .location-left{
    float: left;
    font-style: italic;
    font-size: 12px;
    width: 294px;
}
    .location-left div{
      overflow: hidden;
    }
    .location-left .location-favorite,
    .location-left .location-featured{
      color:#6a8c0f;
      font-family: 'CenturyGothic', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 1em;
      margin: 0 0 0.75em;
      padding: 2px 0 0;
      text-transform: uppercase;
    }
    .location-left .location-favorite{
      background: transparent url(images/avatar-member-small.png) no-repeat 0 50%;
      padding-left: 16px;
    }
    .location-left .location-logo{
        width: 114px;
        float: left;
        border: solid 1px #555;
        box-shadow: 1px 3px 3px #aaa;
        margin-right: 12px;
        margin-bottom: 1em;
    }
    .location-left .location-info{
        float: left;
        width: 166px;
    }
    .location-left .location-info .location-name{
        
    }
    .location-left .location-info .location-name h3{
        font-style: normal;
        margin-bottom: 0;
        padding: 0;
    }
    .location-left .location-info .location-distance{
        margin: 0.5em 0;
    }
    .location-left .location-info .location-reviews{
      margin-bottom: 0.5em;
    }
    .location-left .location-links{
        clear: both;
        margin: 1em 0;
    }
    .location-left .location-links a.facebook{
        background: transparent url(images/facebook-ico-18.png) no-repeat;
        display: inline-block;
        height: 0; /*18px hidden*/
        overflow: hidden;
        width: 18px;
        padding: 18px 0 0 0;
        vertical-align: -35%;
    }
    .location-left .location-links a.website{}

    .location-left .location-contact{
        border-top: dotted 2px #ccc;
        border-bottom: dotted 2px #ccc;
        color: #4c4c4c;
        margin: 0.5em 0 1em;
        line-height: 21px;
        padding: 0.5em 0.25em;
        overflow: auto;
    }
    .location-left .location-contact .location-hours{
        float: left;
        width: 175px;
    }
    .location-left .location-contact .location-phone{
      float: right;
      background: transparent url(images/icon-mobile.png) no-repeat 0 0;
      padding-left: 16px;
      width: 89px; /*105*/
    }
    .location-left .location-contact .location-email{
      float: right;
      text-transform: lowercase;
      width: 105px;
    }
    .location-left .location-description{
        color: #4c4c4c;
        font-size: 11px;
        font-style: normal;
        line-height: 1.8em;
        margin: 0 0 1em;

    }
    .location-left .location-description span.read-less{
      display: block;
      margin-top: -1em;
    }
    .location-left .location-photos{
        
    }
    .location-left .location-photos img{
        display: block;
        float: left;
        border: solid 1px #626262;
        margin: 0 7px 7px 0;
    }

.location-detail .location-right{
    float: left;
    margin-left: 38px;
    width: 322px; /*342+1px border on either side*/
;
    overflow: hidden;
}
    .location-right .location-map{
        border: solid 1px #ccc;
    }
    


table.list{
  border-bottom: solid 1px #f8c192;
  font-size: 12px;
  font-style: italic;
  margin: 3em 0;
  width: 100%;
}
table.list thead{
    
}
table.list thead tr{
    
}
table.list thead tr th,
table.list thead tr td{
  border-bottom: solid 1px #ff780d; 
  padding-right: 1em;
}
table.list thead tr th{
  color: #4c4c4c;
  font-size: 14px;
  font-style: normal;
  font-weight: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 1em 0 0;
  text-align: left;
}
table.list tbody tr{
  background: transparent url(images/dotted-h-border.png) repeat-x 0 100%;
}
table.list tbody tr:last-child{
  background: none;
}
table.list tbody tr th{
  color: #ff780d;
  font-style: normal;
  font-weight: bold;
  text-align: left;
}
table.list tbody tr td{
  padding: 1em 1em 1em 0;
  text-align: left;
}
table.list tbody tr td:last-child{
  padding-right: 0;
  text-align: right;
}
table.list tbody tr td.note{
  text-align: left;
}

/*-- courses list --*/
td.course-times{
  width: 140px;
}
td.course-times span.day{
  background: #fafdfd;  /* top:#fafdfd, bottom: #e3e5e5 */
  color: #6a8c0f;
  border: solid 1px #c7caca;
  display: block;
  float: left;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  height: 17px;
  margin-right: 3px;
  position: relative;
  text-align: center;
  width: 14px;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafdfd', endColorstr='#e3e5e5'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafdfd), to(#e3e5e5)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fafdfd,  #e3e5e5); /* for firefox 3.6+ */ 
}
td.course-times span.hilight{
  background: #bcdf21; /* top:bcdf21, bottom: 84c412*/
  border-color: #919393;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 2px #666;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdf21', endColorstr='#84c412'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#bcdf21), to(#84c412)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #bcdf21,  #84c412); /* for firefox 3.6+ */ 
}
td.course-times span.day div.starttimes{
  position: absolute;
  display: none;
  background: #fff url(images/soft-gray-hilight-h.png) repeat-x 0 0;
  border: solid 1px #c7c7c7;
  bottom: 30px;
  color: #ff7100;
  font-weight: normal;
  line-height: 1.4em;
  left: -15px;
  padding: 0.5em 10px;
  text-align: left;
  text-shadow: none;
  width: 78px; /*98*/
  z-index: 2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
}
td.course-times span.day div.starttimes span.tab{
  background: transparent url(images/tooltip-tab-bottom.png) no-repeat 0 0;
  bottom: -13px;
  left: 9px;
  position: absolute;
  width: 26px;
  height: 14px;
}
td.course-times span.day:hover div.starttimes{
  display: block;
}
td.course-note{
  font-size: 10px;
  line-height: 1.3em;
  text-align: right;
  width: 25%;
}


/*-- pricing list --*/
table#pricing-list td.pricing-rate{
    text-align: right;
}
table#pricing-list td.pricing-rate span.original{
  text-decoration: line-through;
}
table#pricing-list td.pricing-rate span.price{
  color: #ff7100;
  font-size: 14px;
  font-weight: bold;
}
table#pricing-list td.pricing-note{
  font-size: 10px;
  line-height: 1.3em;
  text-align: right;
  width: 30%;
}
table#pricing-list td.pricing-buy{
  width: 6em;
}

/*-- products list --*/
table#products-list th.products-title{
  width: 30%;
}
table#products-list td.products-description{
  font-size: 10px;
  line-height: 1.3em;
  width: 40%;
}

/*-- reviews list --*/
table#reviews-list{
  border-bottom: none;
  margin-bottom: 0;
}
table#reviews-list thead th{
    padding-right: 0;
}
table#reviews-list thead a.button{
    float: right;
    margin-top: -3px;
    padding: 0 1em;
}
table#reviews-list thead span.note{
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  float: right;
}
table#reviews-list td.review-meta{
  width: 30%;
  vertical-align: top;
}
table#reviews-list td.review-meta div.review-title{
  color: #ff7100;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
table#reviews-list td.review-meta div.review-author{
  margin: 0.3em 0;
}
table#reviews-list td.review-meta div.review-rating{
  margin: 0.3em 0;
}
table#reviews-list td.review-comment{
    text-align: left;
    vertical-align: top;
}

/* Avatar photo style*/
ul.photo-thumb-list li ul li{float:left;display:block;width:90px;padding:0 5px 5px 0;}
ul.photo-thumb-list li ul li label input {display: block;margin-bottom: 5px;}
div.box-scroll {height:230px;overflow-y:auto;overflow-x:hidden;width:300px;}
.profile-upload {width:550px;height: 250px;}
.profile-upload .left {width:200px;float:left;display: block;}
.profile-upload .right {width:300px;float:left;display: block;overflow: hidden;}
.clear {clear:both;}