{% extends 'base.html' %}

{% block container %}
    <div class="main-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="contacts-section">
                <div class="left-cnt">
                    <h2>Contact Us</h2>
                    <p>We’d love to hear from you. Send us your thoughts and we'll get back to you quickly.</p>
                </div>
                
                <div class="right-cnt form contact-form">
                    <div class="thankyou-txt">
                        <h3>Thank You</h3>
                        <p>Thank you for contacting ACTIVEBUYS. We’ll review your message and get back to you as soon as possible.</p>
                    </div>
                    <form action="{% url contacts %}?ajax=1" method="post" id="contacts-form">{% csrf_token %}
                        <div class="row">
                            <span class="field {% if form.name.errors %}error-field{% endif %}">
                                {{ form.name }}
                                {{ form.name.errors }}
                            </span>
                            <span class="field {% if form.email.errors %}error-field{% endif %}">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </span>
                            <span class="field last-field">
                                {{ form.phone }}
                            </span>
                            <div class="cl">&nbsp;</div>
                        </div>
                        
                        <span class="field {% if form.subject.errors %}error-field{% endif %}">
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </span>
                        
                        <span class="textarea-field">
                            {{ form.message }}
                            {{ form.message.errors }}
                        </span>
                        
                        <input type="submit" class="btn contact-btn" value="Send Message" id="contacts-submit" />
                    </form>
                </div>
                
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}

