{% extends 'base.html' %}

{% block container %}

			<div class="main-box">
				<div class="box-t">&nbsp;</div>
				<div class="box-c">
					<div class="why-section">
						<div class="left-cnt">
							<h2>Why ACTIVEBUYS?</h2>
							<p>Whether through featured <span class="active-brand">Active <span>Deals</span></span> or our <span class="active-brand">Active <span>Resources</span></span>, ACTIVEBUYS gets your business in front of individuals and employers who understand the importance of getting active and staying healthy and are passionate about supporting the businesses that help them do so.  Align your brand with active, healthy living and help be part of the difference!</p>

							<div class="featured">
								<ul>
									<li class="create-ico">
										<h4>We Create</h4>
										<p>a community of like-minded individuals who embrace an active, healthy lifestyle.</p>
									</li>
									<li class="deliver-ico">
										<h4>You Deliver</h4>
										<p>the best possible products &amp; services to help them fuel their active, healthy lifestyle.</p>
									</li>
									<li class="support-ico last">
										<h4>They Support</h4>
										<p>your business and create healthier, happier communities to live and work.</p>
									</li>
								</ul>
								<div class="cl">&nbsp;</div>
							</div>

							<p>ACTIVEBUYS is NOT a daily deal site. We are an exclusive community built for a targeted demographic of individuals who live, or are seeking to live, an active, healthy lifestyle. The goal of ACTIVEBUYS is to bring together Nashville’s best businesses with our lifestyle seeking members, creating a win-win for all.</p>
							<p>ACTIVEBUYS puts you in control. We help you design a customized marketing package that is right for your business. Contact us today to get started.</p>
						</div>

						<div class="right-cnt form">
                            {% if not form %}
                            <div class="thankyou-txt" style="display: block">
                                <h3>Thank You</h3>
                                <p>Thank you for contacting ACTIVEBUYS. We’ll review your message and get back to you as soon as possible.</p>
                            </div>
                            {% else %}
							<h3>Feature Your Business</h3>
							<form action="" method="post">{% csrf_token %}
								<div class="row">
									<span class="field {% if form.business_name.errors %}error-field{% endif %}">
                                        {{ form.business_name }}
                                        {{ form.business_name.errors }}
									</span>
									<span class="field {% if form.contact_name.errors %}error-field{% endif %}">
                                        {{ form.contact_name }}
                                        {{ form.contact_name.errors }}
                                    </span>
									<div class="cl">&nbsp;</div>
								</div>

								<div class="row">
									<span class="field {% if form.email.errors %}error-field{% endif %}">
                                        {{ form.email }}
                                        {{ form.email.errors }}
                                    </span>
									<span class="field {% if form.phone.errors %}error-field{% endif %}">
                                        {{ form.phone }}
                                        {{ form.phone.errors }}
                                    </span>
									<div class="cl">&nbsp;</div>
								</div>

								<span class="field {% if form.website.errors %}error-field{% endif %}">
                                    {{ form.website }}
                                    {{ form.website.errors }}
                                </span>
								<span class="field {% if form.city.errors %}error-field{% endif %}">
                                    {{ form.city }}
                                    {{ form.city.errors }}
                                </span>

                                <input type="hidden" name="form_type" value="business" />

								<input type="submit" class="bussines-form-submit btn bigger-btn" value="Submit" />
							</form>
                            {% endif %}
						</div>

						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div class="box-b">&nbsp;</div>
			</div>

			{% comment %}
			<div class="main-box">
				<div class="box-t">&nbsp;</div>
				<div class="box-c">
					<div class="big-cols">
						<div class="left-col">
							<h4>We not only bring you new customers, we bring you the RIGHT customers. Our members are: </h4>
							<ul>
								<li>Loyal and passionate about living an   active, healthy lifestyle</li>
								<li>More likely to become long-term,   repeat customers </li>
								<li>Ready and willing to invest in their active,   healthy lifestyle </li>
							</ul>
						</div>

						<div class="right-col">
							<h3>ACTIVEBUYS instantly connects your business with local affinity groups, social organizations and non-profit agencies providing targeted market exposure.  These relationships enhance your market reach and market share by getting your business name, products and services in front of the people that want them most.</h3>

							<div class="col">
								<p>ACTIVEBUYS’s management team is comprised of veteran health and wellness industry experts, and we are active, healthy consumers. </p>
							</div>

							<div class="col min-right-col">
								<p>We will work with you every step of the process to carefully craft a deal to drive maximum exposure, sales and new, long-term customers.</p>
							</div>

							<div class="cl">&nbsp;</div>
						</div>

						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div class="box-b">&nbsp;</div>
			</div>
			{% endcomment %}

{% endblock %}
