<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>ACTIVEBUYS | Widget</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="{{ STATIC_URL}}widget/style.css?v=1.1" type="text/css" media="all" />
</head>
<body>
	<div class="widget-content">
		<h2 class="ab-logo"><a class="ab-hide-text" href="#/">ACTIVEBUYS</a></h2>

		<ul class="ab-menu ab-point-12-16 ab-align-center ab-uppercase">
			<li class="ab-first"><span class="ab-active">Deals</span></li>
			<li><a href="http://blog.activebuys.com/" target="_blank">Blog</a></li>
			<li class="ab-last"><a href="http://blog.activebuys.com/?page_id=351" target="_blank">Events</a></li>
		</ul>

		<ul class="ab-deals">
			<li class="ab-deal">
				<h3 class="ab-title ab-bold ab-point-12-16">Two-hour canoeing lesson Second line of text.</h3>

				<a class="ab-bold ab-point-10-16 ab-uppercase" href="#/">View This Deal</a>

				<img src="" alt="image 1" />
			</li>

			<li class="ab-deal">
				<h3 class="ab-title ab-bold ab-point-12-16">Two-hour canoeing lesson Second line of text.</h3>

				<a class="ab-bold ab-point-10-16 ab-uppercase" href="#/">View This Deal</a>

				<img src="" alt="image 2" />
			</li>

			<li class="ab-deal">
				<h3 class="ab-title ab-bold ab-point-12-16">Two-hour canoeing lesson Second line of text.</h3>

				<a class="ab-bold ab-point-10-16 ab-uppercase" href="#/">View This Deal</a>

				<img src="" alt="image 3" />
			</li>

			<li class="ab-deal">
				<h3 class="ab-title ab-bold ab-point-12-16">Two-hour canoeing lesson Second line of text.</h3>

				<a class="ab-bold ab-point-10-16 ab-uppercase" href="#/">View This Deal</a>

				<img src="" alt="image 4" />
			</li>

			<li class="ab-deal">
				<h3 class="ab-title ab-bold ab-point-12-16">Two-hour canoeing lesson Second line of text.</h3>

				<a class="ab-bold ab-point-10-16 ab-uppercase" href="#/">View This Deal</a>

				<img src="" alt="image 5" />
			</li>
		</ul>

		<a class="ab-slide-prev ab-hide-text" href="#/prev/">Prev</a>
		<a class="ab-slide-next ab-hide-text" href="#/next/">Next</a>

		<div class="ab-slide-nav ab-align-center"></div>

		<a class="ab-main-link ab-point-8-10 ab-align-center" href="http://activebuys.com/" target="_blank">ACTIVEBUYS.com</a>
	</div>
</body>
</html>
