{% extends "base.html" %}

{% block container %}
    <div class="main-box login-box join-confirmation">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="imgs-section"><img src="{{ STATIC_URL }}css/images/404.jpg" alt="" /></div>
            <div class="login-form form">
                <h2>Uh-Oh! Looks like you made a wrong turn.</h2>
                <div class="login-option main-login-option">
                    <p>The page you're trying to access doesn't exist.  Please try one of our many amazing options from the pages above.</p>
                    <p>Error 404 - Page Not Found</p>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}