{% extends "base.html" %}

{% block container %}
    <div class="main-box login-box join-confirmation">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="imgs-section"><img src="{{ STATIC_URL }}css/images/runner.jpg" alt="" /></div>
            <div class="login-form form">
                <h2>Well, this is embarassing...</h2>
                <div class="login-option main-login-option">
                    <p>Our server is not able to understand your request.  Our team has been notified and we'll look into the issue.</p>
                    <p>Error 500 - Internal Server Error</p>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}