<!-- Start of navigation !-->{% spaceless %}
<div id="navigation">
    <ul>
        <li {% if place = 'deals' %}class="active"{% endif %}>
            <a href="{% url deals-home %}">
                <span>Active <strong>Deals</strong></span>
            </a>
        </li>
        <li class="{% if place = 'resources' %}active{% endif %}">
            <a href="{% url resources %}">
                <span>Active <strong>Resources</strong></span>
            </a>
            <div class="new">New!<span class="tab"></span></div>
        </li>
        <li>
            <a href="http://blog.activebuys.com">
                <span>Active <strong>Living</strong></span>
            </a>
        </li>
        <li>
            <a href="http://blog.activebuys.com/?page_id=351">
                <span>Active <strong>Calendar</strong></span>
            </a>
        </li>
        {# <li {% if place = 'non-profits' %}class="active"{% endif %}><a href="{% url non-profits %}"><span>Non-Profits</span></a></li> #}
    </ul>
</div>{% endspaceless %}
<!-- End of navigation !-->
