<div class="refer-popup">
	<h3>ACTIVEBUYS Universal Fine Print</h3>
	<h4>These are the universal restrictions that apply to every ACTIVEBUYS voucher (unless specifically contradicted in the deal's fine print):</h4>
	<ol>
        <li>Not valid for cash back (unless required by law).</li>
        <li>Entire value must use in one visit.</li>
        <li>Doesn't cover tax or gratuity.</li>
        <li>Can't be combined with other offers or promotions.</li>
        <li>Restaurant coupons are valid toward alcohol unless the fine print states otherwise.</li>
	</ol>
	<p><a href="#" class="back-arr" onClick="$.colorbox.close(); return false;">Close</a></p>
</div>
