{% if not user.is_authenticated %}
<div class="header-right">
    
    <p>
        {% if without_welcome_message %}
        &nbsp;
        {% else %}
        <span>Welcome Guest!</span>
        <a href="{% url account-login %}?_popup=1" class="pop-loader">Log In</a>
        {% endif %}
    </p>
    
    <div class="cl">&nbsp;</div>
    <a href="{% url account-registration %}" class="join-btn">JOIN ACTIVEBUYS for FREE!</a>
</div>
{% else %}
<div class="header-right logged">
    <p>
        <span>Welcome {{ user.first_name }}!</span>
        <a href="{% url account-logout %}">Log out</a>
    </p>
    <div class="cl">&nbsp;</div>
    <div class="logged-btns">
        <a href="{% url account-profile %}">My ACTIVEBUYS</a>
        <a href="{{ FOXYCART_URL }}cart?cart=view" class="right foxycart cart-button"><span>View Cart</span></a>
    </div>
</div>
{% endif %}
