<div class="big-box">
    <div class="box-t"></div>
    <div class="box-c category-selector">
        <h3 class="left">What Are you Looking For?</h3>

         <div class="update-location">
                <form action="{% url zipcode_update %}" method="post">{% csrf_token %}
                    {% for field in zipcode_form %}
                        <label for="id_{{ field.name }}">{{ field.label }}:</label>
                        {{ field }}
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" value="Go" />
                </form>
            </div>

        {% for c in categories %}
            {% if c = category %}
                {{ c.name }}
            {% else %}
                <a href="{{ c.get_absolute_url }}" title="{{ c.name }}">{{ c.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="box-b"></div>
</div>
