{% extends "base.html" %}

{% block navigation %}{% include 'navigation.html' with place="resources" %}{% endblock %}

{% block extra_style %}{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL}}css/resources.css?v=120720" type="text/css" media="all" />
{% endblock %}

{% block container %}
    <div id="top">
        {% block top %}
        {# category selector #}
        {% comment %}
            the selector cannot know the current category in the case of a 
            location detail because the location could belong to any number 
            of categories
        {% endcomment %}

        {% include "companies/_category_selector.html" %}
        {% endblock %}
    </div>
    {{ block.super }}
{% endblock %}

{% block footer_script %}
    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-12d25878-3981-c192-9799-72fda3e6135"}); </script>
{% endblock %}