{% extends 'base.html' %}
{% load markup thumbnail %}

{% block container %}
    <div class="main-box min-padding">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
        	{% block companies-header %}{% endblock %}
        </div>
        <div class="box-b">&nbsp;</div>
    </div>

    <div class="exp-list partners-list">
    {% for object in object_list %}
        <div class="main-box">
            <div class="box-t">&nbsp;</div>
            <div class="box-c">
                <h3><a href="#">{{ object }}</a></h3>
                <div class="entry">
                    <div class="img-holder">
                        {% if  object.logo %}
                        <a href="{{ object.website }}" target="_blank" class="img">
                            {% thumbnail object.logo "180x1000" as im %}
                                <img src="{{ im.url }}" alt="{{ object }}" />
                            {% endthumbnail %}
                        </a>
                        {% endif %}
                        <a href="{{ object.website }}" class="website-btn" target="_blank">Visit Website</a>
                    </div>
					<div class="text-info">
	                    {{ object.description|markdown }}
					</div> <!-- end text-info -->
					<div style="clear:left">
					</div>
                </div>
            </div>
            <div class="box-b">&nbsp;</div>
        </div>
    {% endfor %}
    </div>

{% endblock %}