{% extends 'companies/base.html' %}
{% load thumbnail uturn url_utils easy_maps_tags cache deals_tags %}


{% block sidebar %}
    {# filter #}
    <div class="side-box">
        <div class="box-t"></div>
        <div class="box-c" id="filter-subcategory">
            <h3 class="box-heading">Narrow Results</h3>
            <form action="{{ request.get_full_path }}" method="GET">
                {% for field in filtertool.form %}
                    {{ field.label_tag }}
                    {% comment %}
                        Override rendering of default widget for 'subcategories' 
                        field.  Emulates CheckboxSelectMultiple rendering.

                        TODO: 
                         - render selected options as 'remove filter' links
                         - add queryset count for each subcategory

                    {% endcomment %}
                    {% if field.name == 'subcategories' %}
                        <ul>
                        {% for choice in field.field.choices %}
                            <li>
                                <div class="custom-check">
                                    <input type="checkbox" name="{{ field.name }}" value="{{ choice.0 }}" id="id_{{ field.name }}_{{ choice.0 }}" {% if choice.0|stringformat:'u' in field.value %}checked="checked"{% endif %} />
                                </div>    
                                <label for="id_{{ field.name }}_{{ choice.0 }}" class="choice"> {{ choice.1 }}</label></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    
                {% endfor %}
                <input type="submit" value="Apply">
            </form>
        </div>
        <div class="box-b"></div>
    </div>

    {# get-listed #}
    {% include "companies/_get_listed.html" %}

{% endblock %}


{% block content %}

<div class="big-box">
    <div class="box-t"></div>
    <div class="box-c">

        {# list-related tools #}
        <div class="location-list-tools">
            <div class="list-count">
                You are viewing <span>{{ paginator.count }} result{{ paginator.count|pluralize }}.</span>
            </div>

            {% comment %}
            <div class="list-sortby">
                <form action="{{ request.get_full_path }}" method="GET">
                {% for field in filtertool.form %}
                
                    {% if field.name != 'subcategories' %}
                        {{ field }}
                    {% endif %}
                    
                {% endfor %}
                <input type="submit" value="Sort">
            </form>
            </div>
            {% endcomment %}

            {% comment %}
            <div class="update-location">
                <form action="{% url zipcode_update %}" method="post">{% csrf_token %}
                    {% for field in zipcode_form %}
                        <label for="id_{{ field.name }}">{{ field.label }}:</label>
                        {{ field }}
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" value="Go" />
                </form>
            </div>
            
            {% endcomment %}
        </div>

        {# featured location #}
        {% if featured_location %}
            {% include "companies/_location_detail.html" with object=featured_location %}
        {% endif %}
        

        {# list of locations #}
        <table class="location-list" cellspacing="0" cellpadding="0">
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td class="list-name">
                        <a href="{{ object.get_absolute_url }}" title="{{ object.name }}">{{ object.place }}</a>
                    </td>
                    <td class="list-subcategories">
                        {% for subcategory in object.subcategories.all %}{{ subcategory.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="list-rating">
                        {% if object.average_rating %}
                        <span class="rating rating{{ object.average_rating|floatformat:0 }}">{{ object.average_rating|floatformat:0 }}</span>
                        <span class="total-reviews">{{ object.total_reviews }} Review{{ object.total_reviews|pluralize }}</span>
                        {% endif %}
                    </td>
                    <td class="list-distance">{{ object.distance.mi|floatformat:1 }} miles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {# paginator #}
        <div class="pagination">
            {% if page_obj.has_previous %}<a class="prev" href="{% append_to_get page=page_obj.previous_page_number %}">Previous</a>{% endif %}
                {% for num in paginator.page_range %}
                    {% ifequal num page_obj.number %}
                        <span>{{ num }}</span>
                    {% else %}
                        <a href="{% append_to_get page=num %}">{{ num }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if page_obj.has_next %}<a class="next" href="{% append_to_get page=page_obj.next_page_number %}">Next</a>{% endif %}
        </div>
    </div>
    <div class="box-b"></div>
</div>



    
    

{% endblock %}
