{% extends 'companies/base.html' %}
{% load utils_tags deals_tags %}


{% block sidebar %}
    {# if the user came from a search result, show them the way back #}
    {% comment %}
        we take the HTTP_REFERER: 'http://example.com/resources/my-category/?subcategories=2
'       remove the protocol:      'example.com/resources/my-category/?subcategories=2'
        remove the host:          '/resources/my-category/?subcategories=2'

        then compare that against '/resources/' to determine whether they were searching
        also, make sure the referring page isn't the current page

        for whatever reason, '/resources/'|length is not computing correctly in the comparison,
        so i'm using the value (11) directly
    {% endcomment %}
    {% with request.META.HTTP_REFERER|cut:'http://'|cut:request.META.HTTP_HOST as referring_page %}
    {% if referring_page|startswith:'/resources/' %}
    {% if referring_page|length > 11 and referring_page != request.path %}
    <div class="side-box">
        <div class="box-t"></div>   
        <div class="box-c">
            <a id="back-to-results" class="button" href="{{ request.META.HTTP_REFERER }}">&lt; Back to Results</a>
        </div>
        <div class="box-b"></div>
    </div>
    {% endif %}
    {% endif %}
    {% endwith %}

    {# get-listed #}
    {% include "companies/_get_listed.html" %}

{% endblock %}


{% block content %}
    
<div class="big-box">
    <div class="box-t"></div>
    <div class="box-c">
        
        {% include "companies/_location_detail.html" %}
        
        {# classes/courses #}
        {% if object.company.enable_courses %}
            
            <table id="course-list" class="list" callpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th colspan="6">Classes Offered</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object.course_set.count > 0 %}
                        {% for course in object.course_set.all %}
                        <tr>
                            <th class="course-title">{{ course.title }}</th>
                            <td class="course-duration">{{ course.duration }}</td>
                            <td class="course-audience">{{ course.audience }}</td>
                            <td class="course-times">
                            {% comment %}This logic takes the StartTime instances 
                            related to the Course, and regroups them by their 
                            `day_of_week` value.  Comparing that day_of_week value 
                            against the `days` iterator, it generates a list of 
                            start times for each day.{% endcomment %}
                            {% spaceless %}
                            {% for id, day in days %}
                                {% regroup course.starttime_set.all by day_of_week as day_list %}
                                <span class="day {% for day_of_week in day_list %}{% ifequal day_of_week.grouper id %}hilight{% endifequal %}{% endfor %}">{{ day|truncatechars:1|slice:":-3" }}
                                {% for day_of_week in day_list %}
                                    {% ifequal day_of_week.grouper id %}
                                        <div class="starttimes">
                                            {# art shows a duration specific to this start time #}
                                            {% for s in day_of_week.list %}
                                                {{ s.time|time:"P" }}{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                            <span class="tab"></span>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}
                                </span>
                            {% endfor %}
                            {% endspaceless %}
                            </td>
                            <td class="course-note">{% if course.note %}{{ course.note }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6" class="note">No classes currently listed for this location.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}

        {# pricing (deals) #}
        {% if object.company.enable_pricing %}
        
        <table id="pricing-list" class="list" callpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Pricing</th>
                    <td class="pricing-rate">{% if object.deal_set.count > 0 %}ACTIVEBUYS Rate{% endif %}</td>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                {% if object.deal_set.count > 0 %}
                    {% for deal in object.active_deals.all %}
                    <tr>
                        <th class="pricing-name">{{ deal.title }}</th>
                        <td class="pricing-rate">
                            {% ifequal deal.price deal.original_price %} 
                                <span class="price">${{ deal.price|floatformat:"-2" }}</span>
                            {% else %}
                                <span class="original">${{ deal.original_price|floatformat:"-2" }}</span> <span class="price">${{ deal.price|floatformat:"-2" }}</span>
                            {% endifequal %}
                        </td>
                        <td class="pricing-note">{{ deal.fine_print }}</td>
                        <td class="pricing-buy"><a href="{% url deals-buy deal.slug %}" class="button" title="">Buy Now</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4" class="note">No offers currently listed for this location.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% endif %}

        {# products #}
        {% if object.company.enable_products %}
            
            <table id="products-list" class="list" callpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th colspan="3">Products and Services</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object.product_set.count > 0 %}
                        {% for product in object.product_set.all %}
                        <tr>
                            <th class="products-title">{{ product.title }}</th>
                            <td class="products-brands">{{ product.brands }}</td>
                            <td class="products-description">{{ product.description }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="note">No products currently listed for this location.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}

        {# reviews #}
        {% if object.company.enable_reviews %}
            
            <table id="reviews-list" class="list" callpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th colspan="3">Reviews
                        {% if already_reviewed %}
                            <span class="note">You have already reviewed this location.</span>
                        {% else %}
                            {% if user.is_authenticated %}
                                <a href="{% url reviews_add pk=object.id %}" class="button pop-loader-iframe" title="">Add a Review</a>
                            {% else %}
                                <a href="{% url account-login %}?next={{ request.path }}#reviews-list" class="button" title="">Log in to Add a Review</a>
                            {% endif %}
                        {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if object.reviews %}
                        {% for review in object.reviews %}
                        <tr>
                            <td class="review-meta">
                                <div class="review-title">
                                    {% if review.title %}{{ review.title }}
                                    {% else %}{{ review.comment|truncatewords:6 }}{% endif %}
                                </div>
                                <div class="review-author">
                                    by {{ review.user.get_full_name }}
                                    <div>Posted: {{review.creation_date}}</div>
                                    <div>Member since: {{review.user.date_joined|date:"F Y"}}</div>
                                </div>
                                <div class="review-rating">
                                    <span class="rating rating{{ review.score|floatformat:0 }}">{{ review.score|floatformat:0 }}</span>
                                </div>
                                 
                            </td>
                            <td class="review-comment">&lsquo;{{ review.comment }}&rsquo;
                                 {% if review.reviewlogs%}
                                    {% for log in review.reviewlogs %}
                                        <div class="borderBottom"></div>
                                        <div>
                                            <p>Updated date: {{log.created_date}}</p>
                                            <p>&lsquo;{{log.comment}}&rsquo;</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                 <div>
                                    {% include "reviews/_review_log_form.html" with review=review %}
                                </div>
                                {% include "reviews/_vote_form.html" with review=review %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2" class="note">No reviews currently listed for this location.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            
        {% endif %}
        
    </div>
    <div class="box-b"></div>
</div>
{% endblock %}


{% block footer_script %}

<script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/reviews_vote.js"></script>
{% endblock %}
