{% extends 'companies/list.html' %}

{% block navigation %}{% include 'navigation.html' with place="non-profits" %}{% endblock %}

{% block companies-header %}
    <h2>ACTIVEBUYS will donate a portion of our revenue from each <span class="active-brand">Active <span>Deal</span></span> to your choice of one of the featured charities below.</h2>
	<h5 class="partners-heading">We’ve chosen these non-profits due to their work in supporting the community in the areas of health and wellness, children’s welfare, community enhancement, and environmental preservation.</h5>
{% endblock %}
