<div class="side-box">
    <div class="box-t"> </div>
    <div class="box-c">
        {% load avatar_tags %}
        {% avatar account 180 %}
        {% if user.is_authenticated and user.id == account.id %}
        <p class="font11"><a href="{% url avatar_change %}" class="pop-loader">Change my picture</a> | <a href="{% url avatar_delete %}" class="pop-loader">Delete my picture</a></p>
       
        {% endif %}        


        <ul>
            <li><a href="{% url account-purchase %}">My Purchases</a> </li>
            <li><a href="{% url account-review %}">My Reviews ({{reviews.count}})</a></li>
            <li><a href="{% url account-resource %}">My Resources ({{follows.count}})</a></li>
        </ul>
        <p><span class="label">Member Since:</span> {{account.date_joined|date:"F Y"}}</p>
        <div class="account-edit">
                    <div class="account-info">
                        <div class="row rowNoneLine">
                                <div class="edit-row">
                                    <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                        <span class="textarea-field">
                                            <textarea class="textarea txtAboutMe" name="about_me" value="{{ user.about_me }}" title="About Me" id="account-about_me">
                                                {{ user.about_me }}
                                            </textarea> </span>
                                        <input type="submit" class="row-submit btn min-btn" value="Save" />
                                        <div class="cl">&nbsp;</div>
                                    </form>
                                </div>
                                
                                <div class="view">
                                    <span class="label aboutMe">About Me:</span>
                                    <span class="data smallData alignLeft">{{ account.about_me }}</span>
                                      {% if user.is_authenticated and user.id == account.id %}
                                    <div><a href="#">Change</a>
                                      {% endif %}</div>
                                    <div class="cl">&nbsp;</div>
                                </div>

                            </div>
                    </div>
                </div>
    </div>
    <div class="box-b"></div>
</div>