<div class="box">
    <div id="category-selector">
        {% spaceless %}
        <h3>{{account.get_full_name}}'s Profile</h3>
        
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                    {% if place = 'profile' %}
                        <span class="active">My Profile</span>
                    {% else %}
                        <a href="{% url account-profile %}">
                           <span>My Profile</span>
                        </a>
                    {% endif %}
                    </td>                    
                    <td>
                    {% if place = 'purchase' %}
                        <span class="active">My Purchases</span>
                    {% else %}
                        <a href="{% url account-purchase %}">
                           <span>My Purchases</span>
                        </a>
                    {% endif %}
                    </td>               
                    <td>
                    {% if place = 'review' %}
                        <span class="active">My Reviews</span>
                    {% else %}
                        <a href="{% url account-review %}">
                           <span>My Reviews</span>
                        </a>
                    {% endif %}
                    </td>               
                    <td>
                    {% if place = 'resources' %}
                        <span class="active">My Resources</span>
                    {% else %}
                        <a href="{% url account-resource %}">
                           <span>My Resources</span>
                        </a>
                    {% endif %}
                    </td>  
                </tr>
            </tbody>
        </table>
        {% endspaceless %}
    </div>
</div>
