<script type="text/javascript">

	$('.blink').focus(function () {
		if ($(this).val() == $(this).attr('title')) {
			$(this).val('');
		}
	});
	
	$('.blink').blur(function () {
		if ($(this).val() == '') {
			$(this).val($(this).attr('title'));
		}
	});

	$('input.true-pass').hide();
	$('input.fake-pass').focus(function(){
		$(this).hide();
		$(this).next('input').show().focus();
	});
	
	$('input.true-pass').blur(function(){
		if($(this).val()==""){
			$(this).hide();
			$(this).prev('input').show().val('Password');
		}
	});

    $('.additional a').click(function(){
        /*
            If popup-login window was opened on regular login page
        */
        var action = '#' + $(this).attr('href').split('#')[1];
        // we on login page ?
        if ($('a[href="'+action+'"]').length > 0){
            // other action was checked ?
            if(window.location.href.split('#').length > 1){
                // hide previous action
                var current = '#' + window.location.href.split('#')[1]
                $(current).hide();
            }
            // show current action
            $('a[href="'+action+'"]').click();
            $.colorbox.close();
        }
    })

</script>

<div class="login-popup">
	<h3>Please log in.</h3>
	<div class="login-form">
		<form action="{% url account-login %}" method="post">{% csrf_token %}
			<span class="field"><input type="text" class="blink" name="email" title="Email Address" value="Email Address" /></span>
			<span class="field">
				<input type="text" class="fake-pass" value="Password" />
				<input type="password" name="password" class="true-pass" />
			</span>
			<input type="submit" class="login-submit" value="Log In" />
            <input type="hidden" name="next" value="{{ next|default:"/" }}" />
		</form>
		<p class="additional">
			<a href="{% url account-login %}#forgot-pass">Forgot Password?</a><br />
			<a href="{% url account-login %}#resend-activation">Resend Activation</a>
		</p>
	</div>
	
	<h3>Don’t have an account?</h3>
	<a href="{% url account-registration %}" class="join-btn">JOIN ACTIVEBUYS for FREE!</a>
</div>
