{% extends "accounts/base.html" %}

{% block sidebar %}   
  {% include "accounts/_account_side_bar.html" %}
{% endblock %}

{% block top %}
        {# account selector #}

        {% include "accounts/_account_list.html" with place="profile" %}
{% endblock %} 

{% block content %}    
    <div class="big-box ">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="account-edit">
                <div class="account-info">
                    <h3>My Account Information</h3>
                    <div class="row">

                        {% if user.is_authenticated and user.id == account.id %}
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field">
                                    <input type="text" class="blink input" name="first_name" value="{{ user.first_name|default_if_none:"" }}" />
                                </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        {% endif %}
                        
                        <div class="view">
                            <span class="label">First Name</span>
                            <span class="data">{{ account.first_name|default_if_none:"" }}</span>

                            {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                        
                    </div>
                    
                    <div class="row">

                        {% if user.is_authenticated and user.id == account.id %}
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field">
                                    <input type="text" class="blink input" name="last_name" value="{{ user.last_name|default_if_none:""}}" />
                                </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>

                       {% endif %}
                        
                        <div class="view">
                            <span class="label">last Name </span>
                            <span class="data">{{ account.last_name }}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="label">Gender </span>
                                <ul class="subscribtions">
                                    {% for id, value in gender_choices %}
                                         <li>
                                            <label>
                                                {% if id == user.gender%}
                                                    <input type="radio" class="check" checked="checked" name="gender" value="{{id}}"/> {{value}}
                                                {% else %}
                                                    <input type="radio" class="check" name="gender" value="{{id}}"/> {{value}}
                                                {% endif %}
                                            </label>
                                        </li>
                                    {% endfor %}

                                </ul>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">Gender</span>
                            <span class="data">
                                {% for id, value in gender_choices %}
                                    {% if id == account.gender%}
                                        {{value}}
                                    {% endif %}
                                 {% endfor %}
                            </span>
                                    

                             {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field">
                                    <input type="text" class="blink input" name="email" value="{{ user.email }}" title="Email" id="account-mail1" />
                                </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">email</span>
                            <span class="data">{{ account.email }}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field">
                                    <input type="text" class="blink input" name="address" value="{{ user.address }}" title="Address" id="account-address" />
                                </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">address</span>
                            <span class="data">{{ account.address }}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field">
                                    <input type="text" class="blink input" name="zipcode" value="{{ user.zipcode }}" title="Zipcode" id="account-zipcode" />
                                </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">Zipcode</span>
                            <span class="data">{{ account.zipcode }}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="label">State </span>
                                    <select name="state" class="select">
                                        <option value="">Please select state</option>
                                        {% for id, value in states %}                                            
                                            {% if id == user.state%}
                                                <option value="{{id}}" selected="selected"/> {{value}}</option>
                                            {% else %}
                                                <option value="{{id}}"/> {{value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">state </span>
                            <span class="data">
                                {% for id, value in states %}
                                    {% if id == account.state %}
                                        {{value}}
                                    {% endif %}
                                 {% endfor %}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="label">email subscription </span>
                                <ul class="subscribtions">
                                {% for location in subscribe_locations %}
                                    <li>
                                        <label>
                                            <input type="checkbox" class="check" name="subscribe_location" value="{{ location.id }}"/>
                                            {{ location|safe }}
                                        </label>
                                    </li>
                                {% endfor %}
                                </ul>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">email subscription </span>
                            <span class="data">{% for location in account.subscribe_location.all %}{{ location|striptags }}<br />{% endfor %}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="label">ACTIVE Interests </span>
                                <ul class="subscribtions">
                                {% for interest in active_interests %}
                                    <li>
                                        <label>
                                            {% if interest in account.interests.all %} 
                                                <input type="checkbox" class="check" checked="" name="interests" value="{{ interest.id }}"/> 
                                                {%else%}
                                                 <input type="checkbox" class="check" name="interests" value="{{ interest.id }}"/> 
                                            {% endif %}                                            
                                            {{ interest|safe }}
                                        </label>
                                    </li>
                                {% endfor %}
                                </ul>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">active interests </span>
                            <span class="data">{% for interest in account.interests.all %}{{ interest|striptags }}<br />{% endfor %}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    {% if user.is_authenticated and user.id == account.id %}
                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="field"><input type="password" name="password1" class="input pass" id="pass" /></span>
                                <div class="cl">&nbsp;</div>
                                <span class="field"><input type="password" name="password2" class="input pass" id="repass" title="repeat the password" /></span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">password</span>
                            <span class="data">••••••••</span>
                            
                            <a href="#">Change</a>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>                    
                    {% endif %}

                    <div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="label">My ACTIVE Level </span>
                                <ul class="subscribtions">
                                    {% for id, value in level_choices %}
                                         <li>
                                            <label>
                                                {% if id == user.active_level%}
                                                    <input type="radio" class="check" checked="checked" name="active_level" value="{{id}}"/> {{value}}
                                                {% else %}
                                                    <input type="radio" class="check" name="active_level" value="{{id}}"/> {{value}}
                                                {% endif %}
                                            </label>
                                        </li>
                                    {% endfor %}

                                </ul>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">My ACTIVE Level</span>
                            <span class="data">
                                {% for id, value in level_choices %}
                                    {% if id == account.active_level%}
                                        {{value}}
                                    {% endif %}
                                 {% endfor %}
                            </span>
                                    

                             {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>

                    <!--div class="row">
                        <div class="edit-row">
                            <form action="{% url account-profile-edit %}" method="post" class="ajax-form">{% csrf_token %}
                                <span class="textarea-field">
                                    <textarea class="label-blink textarea" name="about_me" value="{{ user.about_me }}" title="About Me" id="account-about_me">
                                        {{ user.about_me }}
                                    </textarea> </span>
                                <input type="submit" class="row-submit btn min-btn" value="Save" />
                                <div class="cl">&nbsp;</div>
                            </form>
                        </div>
                        
                        <div class="view">
                            <span class="label">about me</span>
                            <span class="data">{{ account.about_me }}</span>
                              {% if user.is_authenticated and user.id == account.id %}
                            <a href="#">Change</a>
                              {% endif %}
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div-->
                </div>                
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}
