<div class="refer-popup">
	<h3>Refer 10 of your friends to ACTIVEBUYS <br />and we’ll give you a free deal!</h3>
	<h4>Here’s how it works:</h4>
	<ol>
		<li>Email as many friends and family as you’d like and ask them to join ACTIVEBUYS.com.</li>
		<li>Be sure to tell them to type your email address (the one you used to subscribe) into the "Referred By" field when they join.</li>
		<li>If 10 people join the community and tell us you referred them, we will give you a coupon for a free deal (up to a $75 value)!!</li>
	</ol>
	<p><a href="#" class="back-arr" onClick="$.colorbox.close(); return false;">Close</a></p>
</div>
