{% extends "base.html" %}

{% block container %}
    <div class="main-box login-box join-confirmation">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="imgs-section"><img src="{{ STATIC_URL }}css/images/runner.jpg" alt="" /></div>
            <div class="login-form form">
                <h2>Almost finished...</h2>
                <div class="login-option main-login-option">
                    <p>You will receive an email from no-reply@activebuys.com. To activate your account, click on the link in the email confirming your account.  Make sure to check your spam folder if you don't receive the email after a few minutes.</p>

                    <p>Be sure to add deals@activebuys.com to your address book or safe sender list to ensure our emails get to your inbox.</p>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}
