{% extends "base.html" %}

{% block extra_head %}
 <script type="text/javascript">
 $(function(){
    $('.resend').click(function(){
        var email_input = $(this).parent().find('input[name="resend-email"]');
        var email = email_input.val();
        $.getJSON('{% url account-resend-confirmation %}',{'email':email}, function(data){
                    if (data.success){
                        $('#resend-activation').
                            html('<p>An email has been sent to you with a link to reset your password.</p>');
                    } else {
                        email_input.parent().
                            append('<em>Enter correct email address</em>').
                            addClass('error-field');
                    }
                });
        return false;
    });

    $('.restore-pass').click(function(){
        var email_input = $(this).parent().find('input[name="restore-email"]');
        var email = email_input.val();
        $.getJSON('{% url account-send-restore-code %}',{'email':email}, function(data){
                    if (data.success){
                        $('#forgot-pass').
                            html('<p>An email has been sent to you with a link to reset your password.</p>');
                    } else {
                        email_input.parent().
                            append('<em>Enter correct email address</em>').
                            addClass('error-field');
                    }
                });
        return false;
    })
 })
 </script>
{% endblock %}

{% block container %}
    <div class="main-box login-box {% block extra_class %}join-confirmation{% endblock %}">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="imgs-section"><img src="{{ STATIC_URL }}css/images/runner.jpg" alt="" /></div>
            <div class="login-form form">
                <form method="post" action="{% url account-login %}">{% csrf_token %}
                    {% if is_validcode %}
                        {% block login_form_title %}<h2>Congratulations!</h2>{% endblock login_form_title %}

                        <div class="login-option main-login-option">
                            {% block login_form_comment %}
                            <p>Your ACTIVEBUYS account is now activated. Please login to get started. </p>
                            {% endblock login_form_comment %}
                            <span class="field {% if form.errors %}error-field{% endif %}">
                                {{ form.email }}
                                {{ form.non_field_errors }}
                            </span>
                            <span class="field">
                                <input type="text" value="Password" class="fake-pass" title="Password" />
                                {{ form.password }}
                            </span>
                            <input type="submit" value="Log In" class="login-submit" />

                            <p>
                                <a href="#forgot-pass" class="login-option-select">Forgot Password?</a><br />
                                <a href="#resend-activation" class="login-option-select">Resend Activation</a>
                            </p>
                        </div>
                    {% else %}
                        <h2>Invalid code</h2>
                        <div class="login-option main-login-option">
                            <p>Your account activation code is not valid. Please check your confirmation URL or resend activation code to your email again.</p>
                            <p>
                                <a href="#forgot-pass" class="login-option-select">Forgot Password?</a><br />
                                <a href="#resend-activation" class="login-option-select">Resend Activation</a>
                            </p>
                        </div>
                    {% endif %}

                    <div class="login-option" id="resend-activation">
                        <h3>Resend Activation</h3>
                        <p>Enter your e-mail address below to get an activation link</p>
                        <span class="field"><input type="text" name="resend-email" value="Email Address" title="Email Address" class="blink" /></span>
                        <input type="submit" value="Resend" class="login-submit resend" />
                    </div>

                    <div class="login-option" id="forgot-pass">
                        <h3>Forgot your password?</h3>
                        <p>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
                        <span class="field"><input type="text" name="restore-email" value="Email Address" title="Email Address" class="blink" /></span>
                        <input type="submit" value="Submit" class="login-submit restore-pass" />
                    </div>

                </form>
            </div>

            {% block after_form %}
            {% endblock %}

            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}
