{% extends 'base.html' %}

{% block container %}
    <div class="main-box login-box join-confirmation">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <div class="imgs-section"><img src="{{ STATIC_URL }}css/images/runner.jpg" alt="" /></div>
            <div class="login-form form">
                <form method="post" action="">{% csrf_token %}
                    <h2>Restore password</h2>

                    <div class="login-option main-login-option">
                        <p>Enter new password and confirm it</p>
                        <input type="hidden" name="code" value="{{ code }}" />
                        {% if form.code.errors %}
                            <span class="error-field">
                                <em>Code is out of date</em>
                            </span>
                        {% endif %}
                        <span class="field {% if form.password1.errors %}error-field{% endif %}">
                            <input type="text" value="New Password" class="fake-pass" title="New Password" />
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </span>
                        <span class="field {% if form.password2.errors %}error-field{% endif %}">
                            <input type="text" value="Verify New Password" class="fake-pass" title="Verify New Password" />
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </span>
                        <input type="submit" value="Set New password" class="login-submit" />
                    </div>
                </form>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}