{% extends 'base.html' %}

{% block sidebar %}   
    <div class="side-box">
        <div class="box-t"> </div>
        <div class="box-c">
            <ul>

            {% if categories %}
                <li id="{{category.category_id}}" class="widget widget_categories">
                    <h4 class="widgettitle">Categories</h4>
                    <ul>
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>

            {% else %}        
                <li>There are no categories.</li>
            {% endif %}
                <li id="archives-3">
                    <h4 class="widgettitle">Archives</h4>
                    <ul>  
                        {% for month in months %}
                            <li><a href="{% url activebuys.apps.blogs.views.view_archive month.0 month.1 %}">{{ month.2}} {{ month.0}}</a> </li>
                        {% endfor %}
                    </ul>
                </li>
            <ul>
        </div>
        <div class="box-b"></div>
    </div>
{% endblock %}

{% block content %}    
            
    <div class="big-box">
        <div class="box-t"> </div>
        <div class="box-c">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <div>
        {% autoescape off %}
            {{post.content|linebreaks }}
        {% endautoescape %}
        </div>
        <div class="meta">
                <p>Posted on {{ post.posted }} by ACTIVEBUYS in 

                </p>
                <div class="socials">
                    <div class="cl">&nbsp;</div>
                </div>
            </div>

        </div>
        <div class="box-b"></div>
    </div>
{% endblock %}