{% extends 'base.html' %}

{% load markup %}

{% block container %}
    <div class="main-box min-padding">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="box-b">&nbsp;</div>
    </div>

    <div class="exp-list">
    {% for object in object_list %}
        <div class="main-box">
            <div class="box-t">&nbsp;</div>
            <div class="box-c">
                <h3><a href="#">{{ object.question }}</a></h3>
                <div class="entry">
                    {{ object.answer|markdown }}
                </div>
            </div>
            <div class="box-b">&nbsp;</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}