{% extends "base.html" %}

{% load uturn %}

{% block content %}
<div class="big-box">
    <div class="box-t"></div>
    <div class="box-c">

        <h2>Set your ZIP code</h2>

        <div class="form">
            <form action="." method="post">{% csrf_token %}
            {% for field in form %}
                <span class="field {% if field.errors %}error-field{% endif %}">
                    {{ field }}
                    {% if field.errors %}{% for error in field.errors %}
                        <em>{{ error }}</em>
                    {% endfor %}{% endif %}
                </span>
            {% endfor %}
            {% uturn_param %}
            <input type="submit" class="btn contact-btn" value="Continue" />
            </form>
        </div>

    </div>
    <div class="box-b"></div>
</div>
{% endblock %}
