 <div id="viewlog-{{review.id}}"></div>
 <div id="reviewlog-{{review.id}}" class="reviewlog-form">
        <input type="hidden" id="review-{{review.id}}" value="{{review.id}}" />
    <p><span class="textarea-field">
        <textarea class="textarea" name=" review-comment-{{review.id}}" value="" title="" id="review-comment-{{review.id}}"></textarea> </span>
    </p>
    <p>    
    <a onclick="saveLog({{review.id}})" class="button">Save</a> 
    <a onclick="closeReviewLog({{review.id}})" class="button btnClose">Close</a>
</p>
    <div class="cl">&nbsp;</div>
</div>
<div id="btn-log-{{review.id}}">
{% if user.is_authenticated and user.id == account.id %}
    <a onclick="showReviewLog({{review.id}})" class="button" >Update</a>
{% endif %}
</div>

