{% load reviews_tags %}
<div class="rating-option">            
                          
    <ul class="vote" id="{{review.id}}"> 
        <li><span class="q-vote">Was this review helpful?</span></li>
        <li class="1">
            <a href="#{{review.id}}" rel="1" class="{% is_voting request review 1 %}"><span>Yes</span></a> <span class="label">{% if review.type_1 != 0 %} ({{review.type_1 }}){%endif%}</span>
        </li>
        <li class="2">
            <a href="#{{review.id}}" rel="2" class="{% is_voting request review 2%}"><span>No</span></a> <span class="label">{% if review.type_2 != 0 %} ({{review.type_2 }}){%endif%}</span>
        </li>
    </ul>
</div>