{% extends "base.html" %}

{% block extra_style  %}
{% comment %} 
hack necessary for Foxycart caching tool.  Font has to be Base64 Encoded into the css file for the caching tool to work.
{% endcomment %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/fonts/century-gothic.css">
{% endblock %}

{% block js %}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(function(){
    $("#fc_complete_order_button").text("Check Out Now");
    $("#fc_complete_order_button").val("Check Out Now");
    $('th#fc_cart_head_quantity').text("QTY");
    //$.getJSON('http://{{request.get_host}}{% url ajax-past-deals %}', 
    //          function(data, status, xhr){
					//console.log(status, xhr);
	//				$('.footer-box').remove();
	//				$('.footer-nav').before(data.html);
	//		  });
})
</script>
{% endblock %}

{% block user_panel %}{% include 'user_panel.html' with without_welcome_message=user %}{% endblock %}

{% block sidebar %}
    <div class="side-box cart-details">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            <h3>Your Cart</h3>
            ^^cart^^
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}
    <div class="big-box">
        <div class="box-t">&nbsp;</div>
        <div class="box-c">
            ^^checkout^^
        </div>
        <div class="box-b">&nbsp;</div>
    </div>
{% endblock %}

{% block past-deals %}
	{# empty #}
{% endblock %}
